body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header, h2 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #555;
}

/* Main styles */
.hamburger {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

figure {
    margin: 0;
    text-align: center;
}

img {
    width: 500px;
    height: 400px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Styles for mobile view */
#nav-menu {
    display: none;
}
#nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    #nav-menu {
        display: flex;
    }
}